body{
    background-color: blueviolet;
}
h1{
    text-align: center; color: black;
}
p{
    text-align: center; color: black;
}
.Logotipo {
    width: 20%;
    margin-left: 25%;
    border-radius: 10px; color: blueviolet;
    position: absolute;
}